  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#">Home</a></li>
    </ul>
    <h1 class="text-muted">Cloth Size converter</h1>
  </div>


  <div class="row" data-ng-controller="TodoController">
    <div class="col-md-12">
      <div>
        <div class="col-md-12 select-row">
          <strong>Filter:</strong>
          <select ng-model="query.region">
            <option value="">All regions</option>
            <option ng-repeat="region in regions" value="{{region.name}}">{{region.name}}</option>
          </select>
<!--           <select ng-model="query.gender">
            <option value="">All genders</option>
            <option ng-repeat="gender in genders" value="{{gender.value}}">{{gender.name}}</option>
          </select>
 -->          <select ng-model="query.cloth">
            <option value="">All clothes</option>
            <option ng-repeat="cloth in clothes" value="{{cloth.name}}">{{cloth.name}}</option>
          </select>
          <span>
            <span>{{ remaining() }} of {{ todos.length }} remaining</span> <a href="" class="btn btn-default" data-ng-click="archive()">Remove selected items</a>
          </span> 
        </div>
<!--         <div class="col-md-6 select-row">
          <strong>Order:</strong>
        </div>
 -->    <div class="col-md-12 table-row">
          <table border="1" bordercolor="#ccc" width="100%" cellpadding="5" cellspacing="0" class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th><strong>#</strong></th>
                <th><strong>Gender</strong></th>
                <th><strong>Sort cloth</strong></th>
                <th><strong>Region</strong></th>
                <th><strong>XXS</strong></th>
                <th><strong>XS</strong></th>
                <th><strong>S</strong></th>
                <th><strong>M</strong></th>
                <th><strong>L</strong></th>
                <th><strong>XL</strong></th>
                <th><strong>XXL</strong></th>
                <th><strong>XXXL</strong></th>
                <th>#</th>
              </tr>
            </thead>
            <form ng-submit="addTodo()">
              <tr class="input-size">
                <td></td>
                <td>
                  <select ng-model="todoGender">
                     <option value="">All genders</option>
                    <option ng-repeat="gender in genders" value="{{gender.name}}">{{gender.name}}</option>
                  </select>
                </td>       
                <td>
                  <select ng-model="todoCloth">
                    <option value="">All clothes</option>
                    <option ng-repeat="cloth in clothes" value="{{cloth.name}}">{{cloth.name}}</option>
                  </select>
                </td>
                <td>
                  <select ng-model="todoRegion">
                    <option value="">All regions</option>
                    <option ng-repeat="region in regions" value="{{region.name}}">{{region.name}}</option>
                  </select>
                </td>
                <td><input value="" data-ng-model="todoXXS" /></td>
                <td><input value="" data-ng-model="todoXS" /></td>
                <td><input value="" data-ng-model="todoS" /></td>
                <td><input value="" data-ng-model="todoM" /></td>
                <td><input value="" data-ng-model="todoL" /></td>
                <td><input value="" data-ng-model="todoXL" /></td>
                <td><input value="" data-ng-model="todoXXL" /></td>
                <td><input value="" data-ng-model="todoXXXL" /></td>
                <td><input class="btn btn-default" type="submit" value="add size" /></td>
              </tr>
            </form>
            <tr ng-repeat="todo in todos track by $index | filter:query.region | filter:query.cloth" class="done-{{ todo.done }}">
              <td><input type="checkbox" data-ng-model="todo.done"></td>
              <td >{{todo.gender}}</td>
              <td>{{todo.cloth}}</td>
              <td>{{todo.region}}</td>
              <td>{{todo.XXS}}</td>
              <td>{{todo.XS}}</td>
              <td>{{todo.S}}</td>
              <td>{{todo.M}}</td>
              <td>{{todo.L}}</td>
              <td>{{todo.XL}}</td>
              <td>{{todo.XXL}}</td>
              <td>{{todo.XXXL}}</td>
              <td></td>
            </tr>
            <tfoot>
              <tr>
                <th><strong>#</strong></th>
                <th><strong>Gender</strong></th>
                <th><strong>Sort cloth</strong></th>
                <th><strong>Region</strong></th>
                <th><strong>XXS</strong></th>
                <th><strong>XS</strong></th>
                <th><strong>S</strong></th>
                <th><strong>M</strong></th>
                <th><strong>L</strong></th>
                <th><strong>XL</strong></th>
                <th><strong>XXL</strong></th>
                <th><strong>XXXL</strong></th>
                <th><strong>#</strong></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>



